<h1>Sample App</h1>

<p>Hi, <%= @user.name %>!</p>

<p>
Hi its a sample app! To activate account follow the link bellow:
</p>

<%= link_to "Activate", edit_account_activation_url(@user.activation_token,
                                                    email: @user.email) %>