To reset your password follow the link bllow:

<%= edit_password_reset_url(@user.reset_token, email: @user.email) %>

Activation link will be valid for 2 hours.

If you didn't send request for password reset, please ignore this message, your password will not be changed.