<h1>Password reset</h1>

<p>To reset your password follow the link bllow:</p>

<%= link_to "Reset password", edit_password_reset_url(@user.reset_token,
                                                      email: @user.email) %>

<p>Activation link will be valid for 2 hours.</p>

<p>
If you didn't send request for password reset, please ignore this message, your password will not be changed.
</p>