<% provide(:title, 'All users') %>
<h1>All users</h1>


<%= will_paginate %> 
<ul class="users">
  
  <!--First method-->
  <!--<% @users.each do |user| %>-->
  <!--  <li>-->
  <!--    <%= gravatar_for user, size: 50 %>-->
  <!--    <%= link_to user.name, user %>-->
  <!--  </li>-->
  <!--<% end %>-->
  
  
  <!--second method-->
  <!--<% @users.each do |user| %>-->
  <!--  <%= render user %>-->
  <!--<% end %>-->
  
  <%= render @users %>
  
</ul>

<%= will_paginate %>