@import "bootstrap-sprockets";
@import "bootstrap";


/* mixins, variables, etc. */

$gray-medium-light: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}


/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}


/* universal */

html {
 font-size: 62.5%;
    
}

body {
  padding-top: 6rem;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  
  & h1 {
     margin-bottom: 1rem;
  }
}



// typography

h1,h2,h3,h4,h5 {
    line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 3rem;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 3rem;
  text-align: center;
  font-weight: normal;
  color: $gray-light;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* header */

#logo {
  float: left;
  margin-right: 1rem;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  transition: all .7s;
  
  
  
  &:hover {
//   color: #fff;
    text-decoration: none;
    transform: scale(1.1);
  }
  
  &:link,
  &:visited {
    color: #fff;
    text-decoration: none;
}
  
}





/* footer */

footer {
  margin-top: 4.5rem;
  padding-top: .5rem;
  border-top: 1px solid $gray-medium-light;
  color: $gray-light;
  display: flex;
  justify-content: space-between;
  
  
  
  a:link,
  a:visited{
    color: $gray;
    display: inline-block;
  }

  a:hover {
    color: $gray-darker;
  }

// footer small {
//   float: left;
// }

  ul {
  // float: right;
  list-style: none;
  display: flex;
  justify-content: space-between;
  flex: 0 0 35%;
  padding: 0;
  width: 20rem;
  
  }
  
}


/* sidebar */

aside {
  
  section.user_info {
    margin-top: 2rem;
  }
  
  section {
    padding: 1rem 0;
    margin-top: 2rem;
    
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

.gravatar {
  float: left;
  margin-right: 1rem;
}

.gravatar_edit {
  margin-top: 1.5rem;
}



/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 1.5rem;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 3rem 0;
  }
}

.field_with_errors {
  // extending bootstrap .has-error class
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}


/* Users index */

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid $gray-lighter;
  }
}